* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Karla', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.5);
    background-image: url('https://64.media.tumblr.com/1b07e37fdc645220b11ee3023fe3c4ac/8359c69e8c9807fe-fc/s640x960/ba364d121131d1661777f040407672a9d694b32c.gif');
    background-size: cover;
    background-position: center; /* Centralize a imagem do fundo */
    position: relative; /* Importante para sobreposição */
    height: 100vh; /* Defina a altura do body para 100% da janela visível */
    overflow-y: scroll; /* Adicione uma barra de rolagem vertical */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
}

/* Adicione uma sombra para dar a ilusão de uma barra de rolagem invisível */
body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}

body::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h4 {
    font-size: calc(1.275rem + .3vw);
    padding-top: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil {
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid white;
    max-width: 130px;
}

.insta {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 6px;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.807);
}

.box {
    box-sizing: border-box;
    border: 2px solid #3b0273;
    border-radius: 15px;
    min-height: 49px;
    margin: 12px;
    transition: background-color 0.3s, color 0.3s;
    /* Adicione uma transição suave */
}

.box:hover {
    background-color: #3b0273;
    color: white;
}

.box:hover .bi {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

